# byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
secrets.py
secrets.h
database
github.txt
*.bak
# tests and coverage
*.pytest_cache
.coverage

# database & logs
*.db
*.log

# venv
env
venv

# other
.DS_Store
domus_devel.dbm
git_pull_domus.sh
git_push_domus.sh

# sphinx docs 
_build
_static
_templates

# javascript
package-lock.json
